/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
    text-align: center;
}


body {
    font-family: "Algebreya Sans", Sans-serif;
    font-size: 18px;
    background-color: #F5F5F5;
    color: #333333;
}

.button {
    width: 80px;
    height: 40px;
    border: 5px solid #333333;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
}

.modoNoturno{
    background-color: #333333;
    color: #F5F5F5;
}
/* CONFIGURAÇÕES DO CABEÇALHO */
header {
    font-family: "Exo 2", sans-serif;
    color: 333333;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 2px #F9C505;
}

header h1 {
    margin: 0;
    font-size: 4em;
    text-align: center;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    height: 100px;
    width: auto;
    border-radius: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
    margin: 20px 0 0;
}

nav ul li {
    font-size: 1.5em;
    margin: 0 15px;
}

a {
    font-family: "Exo 2", sans-serif;
    color: #F9C505;
    text-decoration: none;
}

a:hover {
    color: #777777;
    cursor: pointer;
}

.texto {
    text-align: justify;
    max-width: 800px;
    margin: 0 auto;
}

p {
    text-align: start;
}

.banner-container {
    display: flex;
    justify-content: center;
    margin: 20px auto; 
}

#banner {
    width: 100%;
    max-width: 1500px; 
    height: auto;
    border-radius: 5em;
}
